<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie App!</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="main-wrapper">
		<div id="header">

		</div>
		<div id="comedies" class="movie-list">

		</div>
		<div id="dramas" class="movie-list">

		</div>
		<div id="action" class="movie-list">

		</div>
	</div>
	<script src="/main.js"></script>
</body>
</html>