*{
	margin: 0;
}
*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
body{
	display: flex;
}
#darken{
	position: fixed;
	z-index: 2;
	opacity: 0;
	background-color: rgba(0,0,0,.75);
	height: 100%;
	width: 100%;
}
#pop-up{
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 1;
	height: 80%;
	width: 50%;
	background-color: #FAEBD7;
	left: 25%;
	top: 10%;
	opacity: 0;
}
#pop-up-wrapper{
	width: 75%;
	margin: auto;
	display: fixed;
	flex-direction: column;
}
#big_img{
	/*height: 60%;
	width: 15%;*/
}
#info{
	margin: auto;
	padding: 5%;
}
#top{
	display: flex;
	flex-direction: rows;
	margin: auto;
	margin-bottom: 3%;
}

.pop-in{
	animation-duration: 1s;
	animation-name: appear;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: appear;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
}
.pop-out{
	animation-duration: 1s;
	animation-name: disappear;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: disappear;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
}

@-webkit-keyframes appear{
	0%{	
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes disappear{
	0%{	
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}

#main-wrapper{
	z-index: 3;
	width: 1200px;
	background-color: red;
	height: 1000px;
	position: relative;
	margin: auto;
	margin-bottom: 5px;
}
h1{
	margin: auto;
}
.movie-list{
	background-color: #FAEBD7;
	border: 1px solid black;
	overflow: hidden;
}
.movies{
	height: 100%;
	display: flex;
	/*background-color: blue;*/
}
.slider{
	height: 100%;
	display: flex;
	flex-direction: row;
}
#header{
	width: 100%;
	height: 10%;
	display: flex;
	background-color: #FE8E2A;
	border: 1px solid black;
}
#comedies{
	width: 100%;
	height: 30%;
}
#dramas{
	height: 30%;
	width: 100%;
}
#action{
	height: 30%;
	width: 100%;
}
.img{
	height: 80%;
	width: 60%;
	margin: auto;
}